<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donators</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/donator.css">
</head>

<body>
    <!-- <img class="background-home" src="./img/dons-bck.jpeg" alt="bck"> -->
    <div class="container my-4 w-75">
        <h3 class="list_header text-center my-4">All donators and money</h3>
        <div style="display: flex; flex-direction: column; margin: 0 auto; max-width: 750px;" class="">

            <table style="font-size: 21px;" id="donators_table">
                <tr bgcolor="grey">
                    <th>#</th>
                    <th colspan="4">donators</th>
                    <th colspan="4">money</th>
                </tr>

            </table>
            <button class="btn btn_go_donate my-4 text-light py-2">give donation</button>

        </div>

    </div>

    <footer class="list_footer" style="position: fixed;">

        <div style="padding: 20px " class=" d-flex justify-content-between">
            <a href="/home" class="text-decoration-none">
                <h4 class="text-success">
                    WEB-DONATOR.COM
                </h4>
            </a>

            <ul class="">
                <li>
                    <h5>
                        Routers
                    </h5>
                </li>
                <li>
                    <a class="text-decoration-none color_a color_a" href="/home">
                    Home
                </a>
                </li>
                <li>
                    <a class="text-decoration-none color_a " href="/home">
                    About
                </a>
                </li>
                <li>
                    <a class="text-decoration-none color_a " href="/home">
                    Contact
                </a>
                </li>
                <li>
                    <a class="text-decoration-none color_a " href="/home">
                    blog
                </a>
                </li>
            </ul>
            <ul>
                <li>
                    <h5>
                        Shop
                    </h5>
                </li>
                <li>
                    <a class="text-decoration-none color_a " href="/home">
                    Price
                </a>
                </li>
                <li>
                    <a class="text-decoration-none color_a " href="/home">
                    Merch
                </a>
                </li>
                <li>
                    <a class="text-decoration-none color_a " href="/home">
                    Website
                </a>
                </li>
                <li>
                    <a class="text-decoration-none color_a " href="/home">
                    3D models
                </a>
                </li>
            </ul>

        </div>
        <span style="display: block; width: 100%; height: 2px; background-color: white;"></span>
        <p class="text-center"> <i> Product 2022 , Privacy Policy | @admin_abbos </i></p>
    </footer>

    <script src="./js/donators.js"></script>
</body>

</html>